.container{
	background: lightgrey;
	margin: 0 auto;
}

div.first{
	height: 170px;
	background: limegreen;
	margin: 0 auto;

}

div.first1{
	height: 115px;
	margin: 0 auto;
}

div.first2{
	height: 50px;
	width: 770px;
	background: lime;
	margin: 0 auto;

}

div.second1{
	position: relative;
	top: 5px;
	left: -150px;
	width: 469px;
	height: 300px;
	background: lime;
	margin: 0 auto;
}

div.second2{
	position: relative;
	top: -295px;
	left: 240px;
	width: 300px;
	height: 300px;
	background: lime;
	margin: 0 auto;
}

div.container1{
	position: relative;
	top: 6px;
	height: 315px;
	width: 800px;
	background: limegreen;
	margin: 0 auto;
}

div.container2{
	position: relative;
	top: 13px;
	height: 142px;
	width: 800px;
	background: limegreen;
	margin: 0 auto;
}

.text1{
	position: relative;
	top: 15px;
	text-align: center;
	font-family: 'Courier New', monospace;
	text-shadow: 5px 5px 5px black;
}

.btn1 {
	position: relative;
	left:10px;
  	top:10px;
  	background-color: lime;
  	border: none;
  	margin: 0 auto;
}

.btn2 {
	position: relative;
	left:95px;
  	top:10px;
  	background-color: lime;
  	border: none;
  	margin: 0 auto;
}

.btn3 {
	position: relative;
	left:170px;
  	top:10px;
  	background-color: lime;
  	border: none;
  	margin: 0 auto;
}

.btn4 {
	position: relative;
	left:270px;
  	top:10px;
  	background-color: lime;
  	border: none;
  	margin: 0 auto;
}

.btn5 {
	position: relative;
	left: 370px;
  	top:10px;
  	background-color: lime;
  	border: none;
  	margin: 0 auto;
}

.photo1{
	position: relative;
	height: 105px;
	width: 105px;
	left: 30px;
}
.photo2{
	position: relative;
	height: 105px;
	width: 105px;
	left: 50px;
}
.photo3{
	position: relative;
	height: 105px;
	width: 105px;
	left: 30px;
}
.photo4{
	position: relative;
	height: 105px;
	width: 105px;
	left: 50px;
}

.text2{
	position: relative;
	top: 15px;
	text-align: center;
	font-family: 'Courier New', monospace;
	text-shadow: 5px 5px 5px black;
}

.text3{
	font-size: 13px;
}

.text4{
	position: relative;
	top: 5px;
	text-align: center;
	font-family: 'Courier New', monospace;
	text-shadow: 5px 5px 5px black;
}
.text5{
	position: relative;
	top: 10px;
	font-size: 13px;
}

.logo{
	position: relative;
	top: -50px;
	left: 700px;
	height: 70px;
	width: 70px;
}